initialize() {
	 defineGlobal("scale", 100);
	 defineGlobal("N", asInteger(20000));
    setSeed(1);
    initializeMutationRate(scale*1.25e-8);
    initializeMutationType("m1", 0.5, "f", 0.0);
    initializeGenomicElementType("g1", m1, 1.0);
    initializeGenomicElement(g1, 0, 49999999);
    initializeRecombinationRate(scale*1e-8);
}
1 early() {
    sim.addSubpop("p1", asInteger(N/scale));
    community.rescheduleScriptBlock(s1, start=asInteger(10*N/scale), end=asInteger(10*N/scale));
}
s1 late(){
    p1.outputSample(10);
    print(p1.individualCount);
    p1.outputVCFSample(sampleSize=10, replace=T, requestedSex="*",outputMultiallelics=T, filePath=".../basic_sims/SLiM/slim_out/test.vcf", append=F, simplifyNucleotides=F, outputNonnucleotides=T);
}
